.experiences-container{
    height: 25rem;
    width: 100%;
}
.experiences-container img{
    border-radius: 3px;
    height: 100%;
    width: 100%;
}
.list-experiences{
    height: 18rem;
    display: flex;
}
.experience{
    height: 100%;
    width: 15rem;
    margin-right: 1.15rem;
}
.experience-img{
    height: 57%;
}
.experience-text{
    height: 43%;
}
.experience-stars{
    display: flex;
    font-size: .65rem;
    margin-right: .178rem;

}
.experience-rating{
    display: flex;
    font-size: .8rem;
}