/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
body{
height: 100vh;
font: 81.25% arial, helvetica, sans-serif;
}
.title{
    color: #FF5A5F;
    font-size: 50px;
    margin: 0;
 }
 h1{
     font-size: 44px;
     color: #484848 ;
     margin-top: 10px;
     
 }
 a{
     color: #484848 ;
     text-decoration: none;
     font-weight: bold;
 }

.container{
    width: 100%;
    height: 100%;
    
}
.centerquote{
margin: 0 19% 0 19%;
padding-top: 5%;
}
li{
display: flex;
padding: 20px;

}
.search-container{
   height: 80px;
   justify-items: center;
   box-shadow: 2px 5px 15px 1px rgba(161, 161, 161, 0.244); 
   border: 1px solid rgba(90, 90, 90, 0.244); 
   border-radius: 4px;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
   
    align-items: center
}
.searchinput{
    width: 100%;
    height: 100%;
}
ul{
    display: flex;
    justify-content:   flex-end;
}
input{
    width: 100%;
    height: 80%;
    border: none;
    font-size: 20px;
}
.button{
    margin: 0 15px 0 17px;
    padding: 15px 15px 15px 15px;
    border: none;   
    font-size: 20px;
    background-color: #FF5A5F;
    color: white;
    border-radius: 5px;
}
textarea:focus, input:focus{
    outline: none;
}.imgsearch{
    height: 37%;
    
    padding-left: 15px;
    padding-right: 13px;
}

.logo{
    width: 70px;
    position: absolute;
}
